<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SalesOrderProcessingObjectContext"
			connectionString="metadata=res://*/SalesOrderProcessingModel.csdl|res://*/SalesOrderProcessingModel.ssdl|res://*/SalesOrderProcessingModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=JLM-KQ6NKUBY0LV\SQLEXPRESS;User Id=sa;Password=xxxxxxxxxxx;Initial Catalog=SalesOrderProcessing'"
			providerName="System.Data.EntityClient" />
	</connectionStrings>
	<appSettings>
		<!-- access these values via the property:
			System.Configuration.ConfigurationManager.AppSettings[key]
		-->
		<add key="Setting1" value="Very" />
		<add key="Setting2" value="Easy" />
 	</appSettings>
</configuration>
